.top-bar {
  padding: 1rem;
}

.address {
  padding: .5rem;
}

// Utilities

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.p-t-1 {
  padding-top: 1rem;
}

.p-t-2 {
  padding-top: 2rem;
}

.p-t-3 {
  padding-top: 3rem;
}

.p-b-1 {
  padding-bottom: 1rem;
}

.p-b-2 {
  padding-bottom: 2rem;
}

.p-l-2 {
  padding-left: 2rem !important;
}
.p-r-2 {
  padding-right: 2rem !important;
}

@include breakpoint(large) {
  .large-p-b-4 {
    padding-bottom: 4rem;
  }
}

.mh-20 {
  min-height: 20rem;
}

#more-info,
#hyfield6,
#hyfield3 {
  display: none;
}

#hy-XH4xPGofJ-1 {
  @extend .cell;
  width: 100% !important;
  max-width: 100%;
//  border: 1px solid red !important;
}

#hyform {
  vertical-align: top;
  button {
    background-color: $black;
    color: $white;
    border: none;
    border-radius: 0;
    font-family: $body-font-family;
    font-weight: bold;
    margin-top: 2.7rem;
    float: right;
  }
  li, #hyfield1, #hyfield2, #form-fields, .form-actions {
    @include breakpoint(large) {
      display: inline-block;
    }
    vertical-align: top;
  }
  .name-fields {
    padding-right: .2rem;
    input {
      padding-left: 6rem;
    }
  }
  #hyfield1 {
    input {
      padding-left: 7.5rem;
    }
  }
  .name-fields li,
  #hyfield1 {
    width: 100%;
    @include breakpoint(large) {
      width: 25vw !important;
      max-width: 320px;
    }
  }
  label {
    position: relative;
    top: 2.55rem;
    left: .5rem;
    &:after {
      content: ':';
      position: relative;
      left: -2px;
    }
  }
  input {
    padding-left: 7rem;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid $black;
  }
}

#previous-button,
#next-button {
  display: inline-block;
  padding: .5rem;
  position: relative;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

#previous-button {
  top: -1rem;
  left: 2rem;
  @include breakpoint(medium) {
    top: -2rem;
    left: 0;
  }
}

#next-button {
  top: -2rem;
  @include breakpoint(medium) {
    top: -6rem;
  }
}

#previous-icon,
#next-icon {
  border-top: 1px solid $black;
  border-right: 1px solid $black;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  opacity: 1;
  position: relative;
}

#previous-icon {
  transform: rotate(230deg) skew(10deg, 0deg);
  top: 0;
  left: .5rem;
}

#next-icon {
  transform: rotate(50deg) skew(10deg, 0deg);
  top: 0;
  left: -.5rem;
}

.slide {
  display: none;
  background: #efe7df;
  div {
    position: relative;
    width: 100%;
  }
}

.slide-text {
  display: inline-block;
  position: absolute; 
  bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1.2;
  font-weight: bold;
}

#slideshow-1 .slide-text {
  font-size: 1.25rem;
  @include breakpoint(medium) {
    font-size: 2rem;
  }
  @include breakpoint(large) {
    font-size: 2rem;
    top: 1rem;
    margin-left: 1.5rem;
    margin-top: .5rem;
  }
}

.footer-image {
  height: 1.5rem;
  width: auto;
}

.footer-icon {
  height: 1rem;
  width: auto;
  margin: .25rem;
}

.h5 {
  text-transform: uppercase;
}