.text-uppercase {
  text-transform: uppercase;
}

.title {
  font-size: 1rem;
}

.hero {
  font-size: 10vw;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  line-height: .9;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @include breakpoint(large) {
    overflow-x: visible;
    font-size: 6vw;
    letter-spacing: 6px;
    top: 3rem;
  }
  @include breakpoint(xlarge) {
    font-size: 5rem;
  }
}

.hero-container {
  position: relative;
  width: 100%;
  z-index: 900;
}